@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@700&display=swap');
html, body {
    height: 100%;
    line-height: 1;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
}

body._lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #E9E7DB;
    border-bottom: 1px solid #977035;
}

.header__container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.header__menu {
    width: 70%;
}

.lang {
    display: flex;
    align-items: center;
}

.lang li a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #362917;
    padding: 0 2px;
}

.lang li a:hover {
    color: #977035;
}

.lang li:first-child a{
    border-right: 1px solid #977035;
}

.header__phone {
    margin: 0 20px 0 0;
}

.header__phone a{
    display: block;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #362917;
}

.header__phone span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #ff0000;
    text-align: center;
}

.menu__body {
    display: flex;
    justify-content: space-between;
}

.menu__icon {
    display: none;
}

.menu__list > li {
    position: relative;
    margin: 0 0 0 20px;
}

.menu__link {
    text-decoration: none;
    font-size: 17px;
    color: #362917;
}

.menu__link:hover {
    color: #977035;
}

.paralax {
    background: url("../img/background.webp");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax2 {
    background: url("../img/background2.webp");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background__opacity {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #362917;
    opacity: .55;
}

.page {
    padding: 70px 0 0 0;
}

.top__block {
    font-family: 'Playfair Display', serif;
    color: #E9E7DB;
}

h1 {
    font-size: calc(1.5vw + 20px);
    text-align: center;
    margin-top: 10vh;
}

.top__block h2 {
    font-size: calc(2vw + 25px);
    text-align: center;
    margin-top: 7vh;
}

.top__block>span {
    display: block;
    font-size: calc(1.5vw + 15px);
    text-align: center;
    margin-top: 5vh;
}

.top__form {
    background: rgba(255, 255, 255, .7);
    margin-top: 10vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #362917;
}

.container {
    max-width: 980px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 60px 0;
}

.top__form .container label {
    width: 300px;
}

.top__form .container .label_v2 {
    width: 200px;
    font-size: 23px;
}

.top__form .container label span {
    color: #6f7408;
    font-size: 30px;
    font-weight: bold;
}

input[type=text] {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 15px;
    border-bottom: 2px solid #6f7408;
    padding: 5px;
    outline: none;
    color: #362917;
    width: 200px;
}

input[type=submit] {
    background-color: red;
    border: none;
    outline: none;
    font-size: 15px;
    color: #E9E7DB;
    height: 50px;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
}

.why__block {
    background-color: #362917;
    color: #E9E7DB;
    font-size: 20px;
    padding-top: 60px;
}

.why__block h2 {
    text-align: center;
    font-size: 34px;
    font-weight: normal;
}

.why__block h2::after {
    display: block;
    content: "";
    height: 3px;
    width: 45px;
    background-color: #E9E7DB;
    margin: 30px auto 50px;
}

.why__wrap {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.why__item {
    width: 33.3%;
    text-align: center;
    margin-bottom: 60px;
    padding: 0 10px;
}

.why__icon {
    font-size: 100px;
    margin-bottom: 20px;
}

.form {
    background-color: #E9E7DB;
    max-width: 980px;
    margin: 60px auto;
    color: #362917;
    padding: 60px 30px;
}

.form h2 {
    text-align: center;
    font-size: 34px;
    font-weight: normal;
}

.form h2::after {
    display: block;
    content: "";
    height: 3px;
    width: 45px;
    background-color: #362917;
    margin: 30px auto 50px;
}

.form__wrap {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form__wrap.v2 {
    flex-direction: column;
}

.form__text {
    width: 45%;
    font-size: 15px;

}

.form__form {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.form__form.v2 {
    align-items: center;
    margin: 0 auto;
}

.form__wrap > input {
    margin: 20px auto 0;
}

.form__form input {
    margin: 20px 0;
}

.work__block {
    background-color: #362917;
    color: #E9E7DB;
    font-size: 20px;
    padding-top: 60px;
}

.work__block h2 {
    text-align: center;
    font-size: 34px;
    font-weight: normal;
}

.work__block h2::after {
    display: block;
    content: "";
    height: 3px;
    width: 45px;
    background-color: #E9E7DB;
    margin: 30px auto 50px;
}

.work__block .wrap {
    max-width: 980px;
    margin: 0 auto 60px;
    display: flex;
    flex-wrap: wrap;
}

input[name="fbudget"] {
    margin-top: 0;
}

.about {
    background-color: #362917;
    color: #E9E7DB;
    font-size: 20px;
    padding-top: 60px;
}

.about .wrap {
    max-width: 980px;
    margin: 0 auto 60px;
    background-color: #E9E7DB;
    color: #362917;
    padding: 60px 30px;
}

.about .wrap p {
    text-align: center;
}

.about h2 {
    text-align: center;
    font-size: 34px;
    font-weight: normal;
}

.about h2::after {
    display: block;
    content: "";
    height: 3px;
    width: 45px;
    background-color: #362917;
    margin: 30px auto 50px;
}

.contacts {
    background-color: #E9E7DB;
    max-width: 980px;
    margin: 60px auto;
    color: #362917;
    padding: 60px 30px;
}

.contacts h2 {
    text-align: center;
    font-size: 34px;
    font-weight: normal;
}

.contacts h2::after {
    display: block;
    content: "";
    height: 3px;
    width: 45px;
    background-color: #362917;
    margin: 30px auto 50px;
}

.contacts .wrap {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.address p {
    margin: 0 20px 20px 0;
}

footer {
    background-color: #362917;
    padding: 60px 0;
    text-align: center;
    color: #E9E7DB;
}

footer .social {
    margin-bottom: 20px;
}

footer .social a {
    color: #E9E7DB;
}

footer .social i {
    margin: 0 10px;
    font-size: 30px;
}




.slider-for img {
    z-index: 1 !important;
}

.work__body {
    max-width: 100%;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-list {
    overflow: hidden;
}

.slider-nav .slick-slide{
    margin-left: 5px;
}

.slider-for {
    position: relative;
    padding: 0 45px;
    margin-bottom: 10px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 2;
    font-size: 0;
    width: 30px;
    height: 60px;
    cursor: pointer;
}

.slick-arrow.slick-prev {
    left: 0;
    background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
    border: none;
    padding: 0;
}

.slick-arrow.slick-next {
    right: 0;
    background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
    border: none;
    padding: 0;
}


.messages, .errorlist {
    font-size: 14px;
    text-align: center;
}

li.success {
    color: #008000;
}

li.error {
    color: #ff0000;
}
/*quiz*/
.hidden {
    display: none;
}
.quiz {
    background-color: #E9E7DB;
    color: #362917;
    font-size: 20px;
    padding-top: 60px;
}

.quiz h2 {
    text-align: center;
    font-size: 34px;
    font-weight: normal;
}

.quiz h2::after {
    display: block;
    content: "";
    height: 3px;
    width: 45px;
    background-color: #362917;
    margin: 30px auto 50px;
}

.quiz .wrap {
    max-width: 980px;
    margin: 0 auto 60px;
    background-color: #362917;
    color: #E9E7DB;
    padding: 30px 30px;
}

.progress_bar {
    background-color: #E9E7DB;
    height: 1px;
    width: 14.286%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.options {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.option {
    width: 50%;
    padding: 10px;
}

.option_img img {
    margin-bottom: 10px;
    cursor: pointer;
}

input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #E9E7DB;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #E9E7DB;
}

input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #362917;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #E9E7DB;
}

.button_quiz {
    margin-top: 15px;
    text-align: center;
}

.button_quiz button {
    background-color: green;
    border: none;
    color: #E9E7DB;
    padding: 15px 15px;
    cursor: pointer;
}

.phone_quiz {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px;
}

.phone_quiz input {
    color: #E9E7DB;
    border-bottom: 1px solid #E9E7DB;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}

.img_size {
    margin: 15px auto 0;
}

#error {
    text-align: center;
    color: red;
    margin-bottom: 30px;
}

#success {
    text-align: center;
    color: green;
    margin-bottom: 30px;
}

#spinner {
    margin: 0 auto;
    width: 5%;
}
/*end quiz*/

@media (max-width: 650px) {
    .container {
        flex-direction: column;
        padding: 30px 0;
    }

    input[type=text] {
        margin: 20px auto;
    }

    input[type=submit] {
        margin: 20px auto;
    }

    .why__item {
        width: 50%;
    }

    .why__icon {
        font-size: 80px;
    }

    .why__title {
        font-size: 15px;
    }

    .form__wrap {
        flex-direction: column;
    }

    .form__text {
        width: 100%;
        margin: 0 auto 20px;
    }
    
    .form__form {
        width: 100%;
        margin: 0 auto;
    }

    .map iframe {
        width: 260px;
    }

    .address {
        font-size: 15px;
    }

    .option_text {
    width: 100%;
    }

    .form_radio {
        font-size: 13px;
    }
}

@media (min-width: 851px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
    .menu__list > li {
        padding: 10px 0;
    }
}

@media (max-width: 851px) {
    .header__menu {
        width: auto;
    }

    .header__phone {
        order: -1;
        margin: 0 0 0 20px;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        margin: 0 20px 0 0;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color:#362917;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
    }

    .menu__icon._active span{
        transform: scale(0) translate(0, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        background-color:#E9E7DB;
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        background-color:#E9E7DB;
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #362917;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
        display: block;
        text-align: center;
    }

    .menu__list > li {
        flex-wrap: wrap;
        margin: 0 0 30px 0;
    }

    .menu__list > li:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        font-size: 24px;
        color: #E9E7DB;
    }

    .menu__body .lang {
        justify-content: center;
        margin: 50px;
    }

    .lang li a {
        color: #E9E7DB;
    }

    .contacts .wrap {
        justify-content: center;
    }

    .address p {
        text-align: center;
        margin-right: 0;
    }

    .slider-for {
        padding: 0;
    }

    .slick-arrow {
        width: 0;
    }

    .paralax {
        background-attachment: scroll;
        background-size: auto;
        background-color: rgba(54, 41, 23, .55);
    }

    .paralax2 {
        background-attachment: scroll;
        background-size: cover;
        background-color: rgba(54, 41, 23, .55);
    }
}