{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <header class="header">
        <div class="header__container">
            <div class="header__menu menu">
                <div class="menu__icon">
                    <span></span>
                </div>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li><a data-goto=".top" href="{% url 'home' %}" class="menu__link">{% trans 'Главная' %}</a></li>
                        <li><a data-goto=".work" href="#" class="menu__link">{% trans 'Наши работы' %}</a></li>
                        <li><a data-goto=".about" href="#" class="menu__link">{% trans 'Кто мы' %}</a></li>
                        <li><a data-goto=".contacts" href="#" class="menu__link">{% trans 'Контакты' %}</a></li>
                        <li><a href="{% url 'peretyazhka' %}" class="menu__link">{% trans 'Перетяжка мебели' %}</a></li>
                    </ul>
{#                    <ul class="lang">#}
{#                        <li><a href="/uk">ua</a></li>#}
{#                        <li><a href="/ru">ru</a></li>#}
{#                    </ul>#}
                </nav>
            </div>
            <div class="header__phone">
                <a href="tel:380989676756">+38 (098) 967 67 56</a>
                <span>{% trans 'Закажите бесплатный замер кухни' %}</span>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="page">
        <section class="top__block top">
            <h1 class="top__title">{% trans 'Мебельная мастерская' %}</h1>
            <h2>{% trans 'Изготовление кухонь любой сложности' %}</h2>
{#            <span>{% trans 'от 18 000 грн' %}</span>#}
            <form class="top__form" method="post" id="kitchen_1">
                <div class="container">
                    {% csrf_token %}
                    <label for="{{ form.number_phone.name }}">{% trans 'Оставьте заявку через форму на сайте и получите скидку' %} <span>-10%</span></label>
                    {{ form.number_phone }}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <input type="submit" value="{% trans 'Позвоните мне' %}">
                </div>
            </form>
        </section>
        <div class="content">
            <section class="work__block work">
                <h2>{% trans 'Наши работы' %}</h2>
                <div class="wrap">
                    <div class="work__body">
                        <div class="slider-for">
                            {% for item in photos %}
                                <img src="{{ item.photo.url }}" alt="{{ item.title }}">
                            {% endfor %}
                        </div>
                        <div class="slider-nav">
                            {% for item in photos %}
                                <img src="{{ item.photo.url }}" alt="{{ item.title }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <section class="quiz">
                <h2>Расчет стоимости кухни по индивидуальным параметрам</h2>
                <div class="wrap">
                    <div class="question" id="q_1">
                        <h4>Вопрос 1 из 6</h4>
                        <div class="progress_bar"></div>
                        <p>Выберите планировку кухни</p>
                        <div class="options">
                            <div class="option">
                                <label for="kitchen_type-1" class="option_img">
                                    <img src="{% static 'img/pryamaya.jpg' %}" alt="прямая кухня">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_type-1" name="kitchen_type" value="Прямая" checked
                                           onclick="check_type(this, 'plan')">
                                    <label for="kitchen_type-1">Прямая</label>
                                </div>
                            </div>
                            <div class="option">
                                <label for="kitchen_type-2" class="option_img">
                                    <img src="{% static 'img/uglovay.jpg' %}" alt="угловая кухня">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_type-2" name="kitchen_type" value="Угловая"
                                           onclick="check_type(this, 'plan')">
                                    <label for="kitchen_type-2">Угловая</label>
                                </div>
                            </div>
                            <div class="option">
                                <label for="kitchen_type-3" class="option_img">
                                    <img src="{% static 'img/p-obraznaya.jpg' %}" alt="п-образная">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_type-3" name="kitchen_type" value="П-образная"
                                           onclick="check_type(this, 'plan')">
                                    <label for="kitchen_type-3">П-образная</label>
                                </div>
                            </div>
                        </div>
                        <div class="button_quiz">
                            <button type="button" id="btn_q_up_1" onclick="next_q(this.id, 1)">Далее</button>
                        </div>
                    </div>
                    <div class="question hidden" id="q_2">
                        <h4>Вопрос 2 из 6</h4>
                        <div class="progress_bar" style="width: 25%"></div>
                        <p>Выберите материалы фасадов </p>
                        <div class="options">
                            <div class="option">
                                <label for="kitchen_facade-1" class="option_img">
                                    <img src="{% static 'img/dsp.jpg' %}" alt="ДСП">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_facade-1" name="kitchen_facade" value="ДСП" checked
                                        onclick="check_type(this, 'material')">
                                    <label for="kitchen_facade-1">ДСП (эконом)</label>
                                </div>
                            </div>
                            <div class="option">
                                <label for="kitchen_facade-2" class="option_img">
                                    <img src="{% static 'img/mdf-plenka.jpg' %}" alt="МДФ пленка">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_facade-2" name="kitchen_facade" value="МДФ в пленке"
                                           onclick="check_type(this, 'material')">
                                    <label for="kitchen_facade-2">МДФ в пленке (стандарт)</label>
                                </div>
                            </div>
                            <div class="option">
                                <label for="kitchen_facade-3" class="option_img">
                                    <img src="{% static 'img/mdf-rezba.jpg' %}" alt="МДФ резьба">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_facade-3" name="kitchen_facade" value="Пластик"
                                           onclick="check_type(this, 'material')">
                                    <label for="kitchen_facade-4">МДФ в пленке с фрезеровкой (стандарт)</label>
                                </div>
                            </div>
                            <div class="option">
                                <label for="kitchen_facade-4" class="option_img">
                                    <img src="{% static 'img/mdf-kraska.jpg' %}" alt="МДФ краска">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_facade-4" name="kitchen_facade" value="МДФ в краске"
                                           onclick="check_type(this, 'material')">
                                    <label for="kitchen_facade-4">МДФ в пластике (премиум)</label>
                                </div>
                            </div>
                        </div>
                        <div class="button_quiz">
                            <button type="button" id="btn_q_down_2" onclick="next_q(this.id, 0)">Назад</button>
                            <button type="button" id="btn_q_up_2" onclick="next_q(this.id, 1)">Далее</button>
                        </div>
                    </div>
                    <div class="question hidden" id="q_3">
                        <h4>Вопрос 3 из 6</h4>
                        <div class="progress_bar" style="width:37.5%"></div>
                        <p>Выберите материал столешницы </p>
                        <div class="options">
                            <div class="option">
                                <label for="kitchen_table-1" class="option_img">
                                    <img src="{% static 'img/vlagostoikay.jpg' %}" alt="Столешница влагостойкая">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_table-1" name="kitchen_table"
                                           value="Столешница влагостойкая" checked onclick="check_type(this, 'table')">
                                    <label for="kitchen_table-1">Столешница влагостойкая (стандарт)</label>
                                </div>
                            </div>
                            <div class="option">
                                <label for="kitchen_table-2" class="option_img">
                                    <img src="{% static 'img/iskust-kamen.jpg' %}" alt="Искусственный камень">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_table-2" name="kitchen_table"
                                           value="Искусственный камень" onclick="check_type(this, 'table')">
                                    <label for="kitchen_table-2">Искусственный камень (премиум)</label>
                                </div>
                            </div>
                            <div class="option">
                                <label for="kitchen_table-3" class="option_img">
                                    <img src="{% static 'img/quartzevi-kamen.jpg' %}" alt="Кварцевый камень">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_table-3" name="kitchen_table"
                                           value="Кварцевый камень" onclick="check_type(this, 'table')">
                                    <label for="kitchen_table-3">Кварцевый камень (эксклюзив) </label>
                                </div>
                            </div>
                        </div>
                        <div class="button_quiz">
                            <button type="button" id="btn_q_down_3" onclick="next_q(this.id, 0)">Назад</button>
                            <button type="button" id="btn_q_up_3" onclick="next_q(this.id, 1)">Далее</button>
                        </div>
                    </div>
                    <div class="question hidden" id="q_4">
                        <h4>Вопрос 4 из 6</h4>
                        <div class="progress_bar" style="width:50%"></div>
                        <p>Выберите тип фурнитуры</p>
                        <div class="options">
                            <div class="option">
                                <label for="kitchen_fittings-1" class="option_img">
                                    <img src="{% static 'img/bez-dovodcik.jpg' %}" alt="Без доводчиков">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_fittings-1" name="kitchen_fittings"
                                           value="Без доводчиков" checked onclick="check_type(this, 'fittings')">
                                    <label for="kitchen_fittings-1">Без доводчиков (эконом)</label>
                                </div>
                            </div>
                            <div class="option">
                                <label for="kitchen_fittings-2" class="option_img">
                                    <img src="{% static 'img/dovodcik.jpg' %}" alt="С доводчиками">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_fittings-2" name="kitchen_fittings"
                                           value="С доводчиками" onclick="check_type(this, 'fittings')">
                                    <label for="kitchen_fittings-2">С доводчиками (стандарт)</label>
                                </div>
                            </div>
                            <div class="option">
                                <label for="kitchen_fittings-3" class="option_img">
                                    <img src="{% static 'img/blum.jpg' %}" alt="Blum, Hettich">
                                </label>
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_fittings-3" name="kitchen_fittings"
                                           value="Blum, Hettich" onclick="check_type(this, 'fittings')">
                                    <label for="kitchen_fittings-3">Blum, Hettich (премиум)</label>
                                </div>
                            </div>
                        </div>
                        <div class="button_quiz">
                            <button type="button" id="btn_q_down_4" onclick="next_q(this.id, 0)">Назад</button>
                            <button type="button" id="btn_q_up_4" onclick="next_q(this.id, 1)">Далее</button>
                        </div>
                    </div>
                    <div class="question hidden" id="q_5">
                        <h4>Вопрос 5 из 6</h4>
                        <div class="progress_bar" style="width:75%"></div>
                        <p>Введите ориентировочные размеры</p>
                        <img src="{% static 'img/dlina.jpg' %}" alt="Длина кухни" class="img_size">
                        <div class="options">
                            <div class="option option_text">
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_size-1" name="kitchen_size" value="До 3 метров"
                                           checked onclick="check_type(this, 'size')">
                                    <label for="kitchen_size-1">До 3 метров</label>
                                </div>
                            </div>
                            <div class="option option_text">
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_size-2" name="kitchen_size"
                                           value="3-5 метров" onclick="check_type(this, 'size')">
                                    <label for="kitchen_size-2">3-5 метров</label>
                                </div>
                            </div>
                            <div class="option option_text">
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_size-3" name="kitchen_size"
                                           value="Более 5 метров" onclick="check_type(this, 'size')">
                                    <label for="kitchen_size-3">Более 5 метров</label>
                                </div>
                            </div>
                            <div class="option option_text">
                                <div class="form_radio">
                                    <input type="radio" id="kitchen_size-4" name="kitchen_size"
                                           value="Не знаю размеров" onclick="check_type(this, 'size')">
                                    <label for="kitchen_size-4">Не знаю размеров</label>
                                </div>
                            </div>
                        </div>
                        <div class="button_quiz">
                            <button type="button" id="btn_q_down_5" onclick="next_q(this.id, 0)">Назад</button>
                            <button type="button" id="btn_q_up_5" onclick="next_q(this.id, 1)">Далее</button>
                        </div>
                    </div>
                    <div class="question hidden" id="q_6">
                        <h4>Мы приступили к обработке вашей заявки!</h4>
                        <div class="progress_bar" style="width: 100%"></div>
                        <p>Оставьте свой номер телефона, и наш менеджер свяжется с вами в ближайшее время</p>
                        <div class="options phone_quiz">
                            <label>
                                <input type="text" id="phone">
                            </label>
                        </div>
                        <p id="error" class="hidden">Введите корректный номер телефона</p>
                        <img src="{% static 'img/spinner.gif' %}" alt="Отправка" id="spinner" class="hidden">
                        <p id="success" class="hidden">Ваша заявка принята</p>
                        <div class="button_quiz">
                            <button type="button" onclick="send_request(this)">Получить результат</button>
                        </div>
                    </div>
{#                    <div class="question hidden" id="q_7">#}
{#                        <h4>Спасибо за оказанное доверие, в течении часа мы подготовим и вышлем результаты</h4>#}
{#                        <img src="{% static 'img/chasy-na-kuhnyu.jpg' %}" alt="Часы на кухне" class="img_size">#}
{#                    </div>#}
                </div>
            </section>
            <section class="form" id="2">
                <h2>{% trans 'Закажите бесплатный выезд дизайнера на замер' %}</h2>
                <form class="form__wrap" method="post" id="kitchen_2">
                    <div class="form__text">
                        <p>{% trans 'На адресе клиента наш дизайнер сделает:' %}</p>
                        <ul>
                            <li>{% trans 'Точный замер Вашей кухни' %}</li>
                            <li>{% trans 'Предложит материалы и покажет образцы фасадов' %}</li>
                            <li>{% trans 'Составит дизайн-проект Вашей будущей кухни' %}</li>
                        </ul>
                    </div>
                    <div class="form__form">
                        {% csrf_token %}
                        <label for="{{ form.number_phone.name }}">{% trans 'Укажите Ваш номер телефона - и наш менеджер свяжется с Вами в течение 15 минут' %}</label>
                        {{ form.number_phone }}

                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <input type="hidden" name="form_number" value="2">
                    <input type="submit" value="{% trans 'Позвоните мне' %}">
                </form>
            </section>
            <section class="why__block why">
                <h2 class="why__title">{% trans 'Почему клиенты выбирают нас' %}</h2>
                <div class="why__wrap">
                    <div class="why__item">
                        <div class="why__icon">
                            <i class="fi fi-home"></i>
                        </div>
                        <span class="why__title">
                            {% trans 'Собственное производство в Кривом Роге' %}
                        </span>
                    </div>
                    <div class="why__item">
                        <div class="why__icon">
                            <i class="fi fi-like"></i>
                        </div>
                        <span class="why__title">
                            {% trans 'Лучшие материалы и гарантия качества' %}
                        </span>
                    </div>
                    <div class="why__item">
                        <div class="why__icon">
                            <i class="fi fi-star"></i>
                        </div>
                        <span class="why__title">
                            {% trans 'Более 500 кухонь установлено за последние 5 лет' %}
                        </span>
                    </div>
                    <div class="why__item">
                        <div class="why__icon">
                            <i class="fi fi-file-1"></i>
                        </div>
                        <span class="why__title">
                            {% trans 'Работаем по договору' %}
                        </span>
                    </div>
                    <div class="why__item">
                        <div class="why__icon">
                            <i class="fi fi-check"></i>
                        </div>
                        <span class="why__title">
                            {% trans 'Изготовим кухни любой сложности' %}
                        </span>
                    </div>
                    <div class="why__item">
                        <div class="why__icon">
                            <i class="fi fi-male"></i>
                        </div>
                        <span class="why__title">
                            {% trans 'Бесплатный выезд дизайнера на замер' %}
                        </span>
                    </div>
                </div>
            </section>
            <section class="form" id="3">
                <h2>{% trans 'Укажите бюджет, на который Вы рассчитываете, и мы предложим Вам подходящий вариант кухни' %}</h2>
                <form class="form__wrap v2" method="post" id="kitchen_3">
{#                    <div class="form__text">#}
{#                        <p>{% trans 'Укажите бюджет, на который Вы рассчитываете, и мы предложим Вам подходящий вариант кухни' %}</p>#}
{#                    </div>#}
                    <div class="form__form v2">
                        {% csrf_token %}
                        {{ form.budget }}
                        {{ form.number_phone }}

                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <input type="hidden" name="form_number" value="3">
                    <input type="submit" value="{% trans 'Позвоните мне' %}">
                </form>
            </section>
            <section class="about">
                <div class="wrap">
                    <h2>{% trans 'Кто мы' %}</h2>
                    <p>
                        {% trans 'Производитель корпусной мебели с более чем 5-летним опытом работы. Имеем собственное производство в Кривом Роге, где создаем современные кухни и другую качественную корпусную мебель. За время нашей работы было выполнено более 500 заказов, что сегодня является весомым аргументом для клиентов при выборе нашей компании.' %}
                    </p>
                </div>
            </section>
            <section class="contacts">
                <h2>{% trans 'Контакты' %}</h2>
                <div class="wrap">
                    <div class="address">
                        <div>
                            <p>{% trans 'ул. Гетьманская, 110, г. Кривой Рог' %}</p>
                        </div>
                        <div>
                            <p>Телефон: +38 (098) 967 67 56</p>
                        </div>
                        <div>
                            <p>{% trans 'График работы:' %}</p>
                            <p>ПН-ПТ: 9:00-19:00</p>
                            <p>СБ:9:00-15:00</p>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2673.908433108235!2d33.38135041608839!3d47.91880917920667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40db209e34cb356b%3A0xbb2d052cb1e80f43!2z0YPQuy4g0JPQtdGC0YzQvNCw0L3RgdC60LDRjywgMTEwLCDQmtGA0LjQstC-0Lkg0KDQvtCzLCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNTAwMDA!5e0!3m2!1sru!2sua!4v1626952387224!5m2!1sru!2sua" width="540" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block scripts %}
{% if anchor %}
<script type='text/javascript'>
$(document).ready(function(){
    window.location = '#{{ anchor }}'
});
</script>
{% endif %}
{% endblock %}


