{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content={% block description %}"Изготовление кухни любой сложности. Собственное производство в Кривом Роге."{% endblock %}>
    <meta name="robots" content="index,follow">
    <meta name="keywords" content={%block keywords %}"Кухни на заказ, Заказать кухню в Кривом Роге, Заказать замер кухни, Купить кухню"{% endblock %}>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WB5NRDM');</script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css">
    <link rel="stylesheet" href="{% static 'css/css-reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
    <script src="//code-eu1.jivosite.com/widget/zAktC8sPVP" async></script>
</head>
<body class={% block background %}"paralax"{% endblock %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB5NRDM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
        {% block header %}{% endblock %}
        {% block main %}{% endblock %}
        {% include 'inc/_footer.html' %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>